<div class="my-3"> 
    <!-- <h5 [class]="'nostrike'?'todo.active':'strike'"> {{todo?.title}} </h5> -->
    <!-- todo.active true hai too strike ko !todo.active karde-->
    <h5 [ngClass]="{'strike':'!todo.active'}"> {{todo?.title}} </h5>
<p [ngClass]="{'strike':'!todo.active'}">{{todo?.desc}}</p>

<div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="onCheckboxClick(todo)"
    [checked]="!todo?.active">
    <label class="form-check-label" for="exampleCheck1{{i}}">Done</label>
  </div>

<button class="btn btn-sm btn-danger" (click)="onClick(todo)">Delete</button>
</div>

